<body>
<div class="container-fluid">
<div class="row">
<div class="col-md-4">
  <img class="round" [attr.src]="server+world.logo"/>
  <span id="worldname">{{world.name}}</span>
</div>
<div class="col-md-4">
    <span [innerHTML]="world.money | bigvalue"> </span>
</div>
<div class="col-md-4">
    <button type="button" class="btn btn-primary" id="multiplication">Primary</button>
    <span>Your ID : </span>
    <span id="joueurID">XXXX</span>
    
  </div>
</div>
<div class="row">
<div class="col-md-2">
    <button type="button" class="btn btn-primary" id="Unlocks">Unlocks</button>
    <button type="button" class="btn btn-primary" id="Cash_Upgrades">Cash Upgrades</button>
    <button type="button" class="btn btn-primary" id="Angels_Upgrades">Angels Upgrades</button>
    <button type="button" class="btn btn-primary" id="Managers">Managers</button>
    <button type="button" class="btn btn-primary" id="Investors">Investors</button>
</div>
<div class="col-md-10">
    <app-product [prod]="world.products.product[0]"
    class="product col-md-6"></app-product>  
    <app-product [prod]="world.products.product[1]"
    class="product col-md-6"></app-product>
    <app-product [prod]="world.products.product[2]"
    class="product col-md-6"></app-product> 
    <app-product [prod]="world.products.product[3]"
    class="product col-md-6"></app-product> 
    <app-product [prod]="world.products.product[4]"
    class="product col-md-6"></app-product> 
    <app-product [prod]="world.products.product[5]"
    class="product col-md-6"></app-product>   
</div>
</div>
</div>
</body>