<div class="container-fluid">
<div class="row">
<div class="col-md-5">
<br>
  <img class="round" [attr.src]="server+world.logo"/>
  <span id="worldname">{{world.name}}</span>
</div>
<div class="col-md-3">
<br>
    <span id="worldmoney" [innerHTML]="world.money | bigvalue"></span>
    <span> $ </span>
</div>
<div class="col-md-2">
<br>
    <button type="button" (click)="defQmulti()" class="btn btn-success" id="commutateur">{{ this.qtmulti }}</button>
    <span>Your ID : </span>
    <input type="text" [(ngModel)]="username" (change)="onUsernameChanged()"/>
    
  </div>
</div>
<div class="row">
<div class="col-md-2 menu">
    <button type="button" class="col-md-12 btn-lg btn-secondary" id="Unlocks">Unlocks</button>
    <button type="button" class="col-md-12 btn-lg btn-secondary" id="Cash_Upgrades">Cash Upgrades</button>
    <button type="button" class="col-md-12 btn-lg btn-secondary" id="Angels_Upgrades">Angels Upgrades</button>
    <button type="button" class="col-md-12 btn-lg btn-secondary" data-toggle="modal" (click)="managersModal.show()" id="Managers"><span class="badge">{{badgeManager}}</span> Managers</button>
    <button type="button" class="col-md-12 btn-lg btn-secondary" id="Investors">Investors</button>
</div>
<div class="col-md-10">
    <app-product (notifyProduct)="onBuyDone($event)" (notifyAchat)="onBuyDone($event)" (notifyProduction)="onProductionDone($event)" [qtmulti]="qtmulti" [worldMoney]="world.money"
    [prod]="world.products.product[0]" id="product" class="col-md-6"></app-product>  
    <app-product (notifyAchat)="onBuyDone($event)" (notifyProduction)="onProductionDone($event)" [qtmulti]="qtmulti" [worldMoney]="world.money"
    [prod]="world.products.product[1]" id="product" class="col-md-6"></app-product>
    <app-product (notifyAchat)="onBuyDone($event)" (notifyProduction)="onProductionDone($event)" [qtmulti]="qtmulti" [worldMoney]="world.money"
    [prod]="world.products.product[2]" id="product" class="col-md-6"></app-product> 
    <app-product (notifyAchat)="onBuyDone($event)" (notifyProduction)="onProductionDone($event)" [qtmulti]="qtmulti" [worldMoney]="world.money"
    [prod]="world.products.product[3]" id="product" class="col-md-6"></app-product> 
    <app-product (notifyAchat)="onBuyDone($event)" (notifyProduction)="onProductionDone($event)" [qtmulti]="qtmulti" [worldMoney]="world.money"
    [prod]="world.products.product[4]" id="product" class="col-md-6"></app-product> 
    <app-product (notifyAchat)="onBuyDone($event)" (notifyProduction)="onProductionDone($event)" [qtmulti]="qtmulti" [worldMoney]="world.money"
    [prod]="world.products.product[5]" id="product" class="col-md-6"></app-product>   
</div>
</div>
<app-modal #managersModal>
    <div class="app-modal-header">
    <h4 class="modal-title">Managers make you feel better !</h4>
    </div>
    <div class="app-modal-body">
        <div class="col-xs-12" *ngFor="let manager of world.managers.pallier">
            <div *ngIf="!manager.unlocked">
                <div class="col-xs-4">
                    <img class="round" [attr.src]="server+manager.logo"/>
                </div>
                <div class="col-xs-4">
                    <h3>{{manager.name}}</h3>
                    <p>{{world.products.product[(manager.idcible)-1].name}}</p>
                    <p>{{manager.seuil}}$</p>
                </div>
                <div class="col-xs-4">

                    <div *ngIf="manager.seuil<=world.money" >
                        <button (click)="hireManager(manager)" type="button" class="btn btn-success btn-block"> Hire ! </button>
                    </div>

                    <div *ngIf="manager.seuil>world.money">
                        <button disabled type="button" class="btn btn-success btn-block" > Hire ! </button>
                    </div>

                </div>
            </div>
    
        </div>
    </div>
    <div class="app-modal-footer">
    <button type="button" class="btn btn-default" (click)="managersModal.hide()">Close</button>
    </div>
   </app-modal>
   <toaster-container></toaster-container>
</div>