<div class="container col-md-10">
    <div class="row">
        <div class="col-md-4 lesdeux">
            <div class="lepremier">
                <img (click)="startFabrication()" class="product" [attr.src]="url+product?.logo"/>
            </div>
            <div class="lesecond">
                <span  class="col-md-12" id="quantite">{{product?.quantite}}</span>
            </div>
        </div>
        <div class="col-md-8 progress" #bar> </div>
        <div class="col-md-5" >
            <div *ngIf="coutProduct<=money">
                    <button (click)="onBuy()"  type="button" class="btn btn-success btn-block" id="multiplication">{{this._qtmulti}} | {{this.coutProduct | bigvalue}}$</button>
            </div>
            <div *ngIf="coutProduct>money">
                    <button (click)="onBuy()" disabled type="button" class="btn btn-success btn-block" id="multiplication">{{this._qtmulti}} | {{this.coutProduct | bigvalue}}$</button>
            </div>
         </div>
        <div class="col-md-3">
            <label id="time">{{product?.timeleft}}millisecondes</label>
        </div>
        
    </div>
</div>

