<div class="col-md-12">
     <div class="col-md-3 lesdeux">
        <div class="lepremier">
            <img [attr.src]="product?.logo"/>
        </div>
        <div class="lesecond">
            <button type="button" class="btn btn-primary" id="multiplication">{{product?.quantite}}</button>
        </div>
    </div>
    <div class="col-md-9">
        <span id="revenu">{{product?.revenu}}</span>
    </div>
    <div class="col-md-6">
        <button type="button" class="btn btn-primary" id="multiplication">{{product?.cout}}</button>
    </div>
    <br>
   
  </div>

