<div class="container col-md-10">
    <div class="row">
        <div class="col-md-4 lesdeux">
            <div class="lepremier">
                <img (click)="startFabrication()" class="product" [attr.src]="url+product?.logo"/>
            </div>
            <div class="lesecond">
                <span  class="col-md-12" id="quantite">{{product?.quantite}}</span>
            </div>
        </div>
        <div class="col-md-8 progress" #bar> </div>

        <div class="col-md-8 col-md-offset-4" style="z-index:1; position:absolute; text-align:center">{{product?.revenu}}</div>
        <div class="col-md-5">
        <div *ngIf="coutProduct<=money && qMax>0" >
                    <button (click)="onBuy()"  type="button" class="btn btn-success btn-block" id="multiplication" [innerHTML]="'x' + qMax + ' | ' +  (coutProduct | bigvalue) + '$'"></button>
            </div>
            <div *ngIf="coutProduct>money || qMax==0" >
                    <button (click)="onBuy()" disabled type="button" class="btn btn-success btn-block" id="multiplication" [innerHTML]="'x' + qMax + ' | ' +  (coutProduct | bigvalue) + '$'"></button>
            </div>
         
         </div>

        <div class="col-md-3" id="timeleft" > {{ product?.timeleft | date:'mm:ss' }} </div>

        </div>
    </div>
