.round {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border-color: black
}
 
.lesecond {
    position: absolute;
    bottom: -10px
}

.product {
    width: 80px;
    height: 80px;
    border-radius: 50%
}

#product{
    margin-top: 40px;
    /* background-image: url("fond1.jpg"); */
    background-color: #527a7a;
    border-radius: 2%;
    height: 120px;
    padding-top: 20px;
}

body {
    background-repeat: no-repeat;
    background-size : cover;
    background-image: url("fond.jpg");
    /* background-image: url("https://is.ambafrance.org/IMG/jpg/paris-3-2.jpg?2874/88447529a6a461dec28757029fc5e93b7471b048"); */
}

#worldname {
    color : rgb(0, 0, 0);
    font-size: 60px;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

.menu {
   padding-top: 50px
}

.menu button{
    margin-top: 20px;

}

span{
    color : white
}

#quantite {
    background-color : grey;
    border-radius: 10%;
    text-align: center

}

#worldmoney {
    color : rgb(255, 255, 255);
    font-size: 30px;
    text-align: center
}

.progress {
    padding : 0 0 !important;
}

toaster-container{
    color: white;
    font-size: 20px;
}

.modal-body {
    padding: 0 !important;
}