.round {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border-color: black
}
 
.lesecond {
    position: absolute;
    bottom: -10px
}

.product {
    width: 80px;
    height: 80px;
    border-radius: 50%
}

#product{
    margin-top: 50px;
}

body {
    background-color: rgb(114, 106, 106);
}

#worldname {
    color : rgb(0, 0, 0);
    font-size: 60px;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

.menu {
   padding-top: 50px
}

.menu button{
    margin-top: 30px;

}

span{
    color : white
}

#quantite {
    background-color : grey;
    border-radius: 10%;
    text-align: center

}

#worldmoney {
    color : rgb(255, 255, 255);
    font-size: 30px;
    text-align: center
}